@import "tailwindcss";

@layer base {
  main {
    @apply space-y-4;
  }

  body {
    @apply bg-black text-white font-mono p-4;
  }

  input {
    @apply border border-gray-600 p-2 rounded;
  }

  button {
    @apply text-white px-4 py-2 rounded border border-white;
  }

  button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
